# Data Science Tools and Ecosytem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:                                                        
1. Python
2. R
3. SQL
4. Julia                                                                                                      2. R

Some of the commonly used libraries used by Data Scientists include:                                               
1. Pandas
2. NumPy
3. Seaborn
4. Matplotlib

| Data Science Tools |                                                                                             
|--------------------|
| Jupyter Lab        |
| MySQL              |
| MongoDB            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

In [ ]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours= minutes/60
print(hours)

In [ ]:
print("Hello")

In [ ]:
x = 5
y = 10
x + y

In [ ]:
1+1

**Objectives:**                                                                                                    
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List Data Science tools
* Arithmetic expressions examples

## Author
Suman Rawat